/* Our Main CSS File */
body{
    background-color:aliceblue;
    margin:0;
    padding:0;
}

.container{
    max-width:1000px;
    width:100%;
    background:white;
    padding:20px;
    margin:20px auto;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}